.ulTabsWrapper {
  list-style-type: none;
}

.liTabs {
  display: inline;
  cursor: pointer;
  color:white;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  padding: 2%;
  transition: 0.2s;
}

.liTabs:hover {
  font-size: 1.3rem;
  transition: 0.1s;
}