.side-drawer {
  height: 100%;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 70%;
  max-width: 400px;
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
}

.side-drawer.open {
  transform: translateX(0%);
  background-color: rgb(130, 149, 201);
  box-shadow: 1px 0px 7px rgba(0,0,0);

}